[Unit]
Description=OpenRGB keypress ripple preset
Documentation=https://github.com/ie04/openrgb-presets
After=graphical-session-pre.target

[Service]
Type=simple
ExecStart=/usr/bin/openrgb-presets
KillMode=mixed
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
